*{
    margin: 0;
    padding: 0;
}
#navbar-top{
    background-color: black;
    color: white;
}
.rsc{
    display: flex;
}
#btn3{
    width: 100px;
    height: 36px;
    background-color: #f5b500;
    border: none;
}
#btn3 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.icons i{
    margin-left: 5px;
}
/* navbar */
#navbar-color{
    background-color: rgb(57, 65, 109);
}
#navbar-logo i img{
    width: 30px;
    margin-bottom: 7px;
    margin-right: 10px;
}
#navbar-logo{
    font-size: 35px;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    color: white;
    font-weight: bold;
    text-shadow: 2px 1px 5px black;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.nav-link:hover{
    color: white;
    text-shadow: 2px 1px 5px black;
}
.new-icons{
    cursor: pointer;
}
/* navbar */

/* home content */
.hc{
    background-color: rgba(58 57 57 / 87%);
}
.home-content{
    width: 100%;
    height: 100vh;
    background-image: url(./image/watch1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    box-shadow: 0 0 10px black;
}
.content{
    width: 50%;
    padding-top: 210px;
    margin-left: 20px;
}
.content h1{
    color: white;
    text-shadow: 2px 1px 5px black;
}
.content p{
    color: white;
    text-shadow: 2px 1px 5px black;
}
#btn1 button{
    width: 200px;
    height: 32px;
    background-color: #f5b500;
    border: none;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}
#btn1{
    margin-top: 5px;
}
#btn1 button:hover{
    background-color: #f5b500;
    box-shadow: 0 0 5px #f5b500,
                0 0 20px #f5b500,
                0 0 60px #f5b500,
                0 0 150px #f5b500;
}

/* home content */

/* banner */
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
}
.banner-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}
.banner-content h1{
    color: black;
}
.change-content:after{
    content: ' ';
    color: #f5b500;
    text-shadow: 2px 1px 5px black;
    font-weight: bold;
    animation: changetext  10s infinite linear;
}
@keyframes changetext{
    0%{content: "T-SHIRT";}
    10%{content: "SHOES";}
    20%{content: "HOODIES";}
    30%{content: "CAP";}
    40%{content: "PANTS";}
    50%{content: "LAPTOP";}
    60%{content: "KEYBOARD";}
    65%{content: "CAMERAS";}
    75%{content: "COMPUTER MOUSE";}
    80%{content: "GAMING PC";}
    85%{content: "WATCH";}
    90%{content: "IPAD & TABLETS";}
    100%{content: "HEADPHONE";}
}
.search-box{
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #353b58;
    height: 60px;
    border-radius: 50px;
    padding: 10px;
}
.search-box:hover .search-txt{
    width: 100px;
    padding: 0 6px;
}
.search-box:hover .search-btn{
    background-color: #f5b500;
}
.search-btn{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5b500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
   border: none;
   outline: none;
   background: none;
   float: left;
   padding: 0;
   color: #fff;
   font-size: 16px;
   line-height: 40px;
   width: 0;
   transition: width 400ms; 
}
/* banner */

/* card content */
.card{
    box-shadow: 0 0 5px black;
}
.card h5{
    font-weight: bold;
}
.card p{
    font-weight: bold;
}
.checked{
    color: #f5b500;
}
#btn2{
    text-align: center;
    margin-top: 10px;
}
#btn2 button{
    width: 100px;
    height: 30px;
    background-color: #f5b500;
    border: none;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}
#btn2 button:hover{
    background-color: #f5b500;
    box-shadow: 0 0 5px #f5b500,
                0 0 20px #f5b500,
                0 0 60px #f5b500,
                0 0 150px #f5b500;
}
/* card content */

#slider{
    margin-top: 100px;
}

/* all caegory */
.all-category{
    margin-top: 10px;
    margin-left: 26px;
}
.all-category button{
    order: 1px solid black;
    margin-top: 20px;
}
.all-category a{
    background-color: #f5b500;
}
/* all caegory */

/* footer content */
.collections{
    background: #f7f7f7;
}
.newsletter-w3pvt form{
    margin: 0 auto;
    width: 60%;
}
.newsletter-w3pvt p{
    font-size: 1.2em;
    margin-bottom: 2em;
    color: #777;
    font-weight: 600;
}
.subscribe-sec input{
    padding: 0.8em 1em;
    color: #495057;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    letter-spacing: 2px;
    -moz-box-shawdow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shawdow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shawdow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shawdow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.btn.subscribe{
    background: #f5b500;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
    padding: 0.8em 3em;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
    font-weight: bold;
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shawdow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.btn .subscribe:hover,
.btn.shop.hover{
    opacity: 0.9;
}
/* footer content */